# folders with libraries and stuff
gifs
bin
etc
include
lib
# this one is for predownloaded music
music
share
__pycache__

database.txt
# Ignore Mac system files
.DS_Store
.cfg

# private important files
*.json
*.m4a