# folders with libraries and stuff
etc
include
lib
music
share
__pycache__

# folder with the lambda backups and ram
backups
ram

# lambda drive service
lambdrive

# Ignore Mac system files
*.DS_Store
*.cfg

# private important files
*.json
*.m4a
*.env
*.profile

# other files from system
__init__.py
__init__.pyc
